{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components",
          "@config": "./src/config",
          "@layouts": "./src/layouts",
          "@pages": "./src/pages",
          "@styles": "./src/styles",
          "@variables": "./src/variables"
        }
      }
    ]
  ],
}
